.primary {
  background-color: var(--font);
}

.primary * {
  color: var(--bg1);
}

.accent {
  background-color: var(--primary);
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3) inset, 0px 2px 4px var(--secondary) inset;
}

.accent * {
  color: whitesmoke;
}

.ghost {
  background-color: var(--bg1);
  outline: solid 1px var(--bg2);
}

.succes {
  background-color: var(--succes);
}

.succes * {
  color: white;
}

.danger {
  background-color: var(--danger);
}

.warning * {
  color: white;
}

.warning {
  background-color: var(--warning);
}

.danger * {
  color: white;
}

.justIcon {
  padding: 0;
  min-width: 34px;
  height: 34px;
  justify-content: center;
}

.hPrimary:hover * {
  color: var(--primary);
}

.rounded {
  border-radius: 8px;
}
