<div class="layoutSize mAuto" style="height: 300vh;">
  <div class="card wFull flex flexCol gap3">
    <h2 class="titleText">About me</h2>
    <p>
      Web developer with solid knowledge of front- and back-end technologies.
      Passionate about creating efficient and scalable solutions. Technical
      training in electromechanics, complemented by university studies and
      online training. Self-motivated with strong communication skills acquired
      in customer service.
    </p>
  </div>
</div>
