<div class="layoutSize mAuto">
  <div class="wFull flex flexCol gap6">
    <div class="">
      <h2 class="titleText">About me</h2>
      <p>
        Web developer with solid knowledge of front- and back-end technologies.
        Passionate about creating efficient and scalable solutions. Technical
        training in electromechanics, complemented by university studies and
        online training. Self-motivated with strong communication skills
        acquired in customer service.
      </p>
    </div>

    <div class="my6 flex gap3 justCenter">
      <div class="card flex itemsCenter gap4">
        <i class="material-symbols-rounded">school</i>
        <span>Currently studying at UTN</span>
      </div>
      <div class="card flex itemsCenter gap4">
        <i class="material-symbols-rounded">check</i>
        <span>Available to work</span>
      </div>
    </div>

    <h2 class="titleText" id="certificates">Certificates</h2>
    <div>
      <div class="certificatesGrid flex flexWrap gap2">
        <div>
          <img
            src="certificates/diploma-angular-avanzado-1_pagina-1.png"
            alt="Diploma Angular Avanzado"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-expressjs-1_pagina-1.png"
            alt="Diploma ExpressJS"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-nodejs_pagina-1.png"
            alt="Diploma NodeJS"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-redes_pagina-1.png"
            alt="Diploma Redes"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-api-rest-symfony-2023_pagina-1.png"
            alt="Diploma API REST Symfony 2023"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-datos-php_pagina-1.png"
            alt="Diploma Datos PHP"
          />
        </div>
        <div>
          <img src="certificates/diploma-php_pagina-1.png" alt="Diploma PHP" />
        </div>
        <div>
          <img
            src="certificates/diploma-php-arreglos-funciones_pagina-1.png"
            alt="Diploma PHP Arreglos y Funciones"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-php-composer_pagina-1.png"
            alt="Diploma PHP Composer"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-php-entornos-funciones_pagina-1.png"
            alt="Diploma PHP Entornos y Funciones"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-php-html_pagina-1.png"
            alt="Diploma PHP y HTML"
          />
        </div>
        <div>
          <img src="certificates/diploma-php-p1.png" alt="Diploma PHP P1" />
        </div>
        <div>
          <img
            src="certificates/diploma-php-poo_pagina-1.png"
            alt="Diploma PHP POO"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-php-practico_pagina-1.png"
            alt="Diploma PHP Practico"
          />
        </div>
        <div>
          <img
            src="certificates/diploma-symfony-2022_pagina-1.png"
            alt="Diploma Symfony 2022"
          />
        </div>
      </div>
    </div>
  </div>
</div>
