<div class="mainContainerContent">
  <div>
    <h2>About Me</h2>
    <div>
      <p>
        My name is <strong>Franco Pertusati</strong>. I am a Front-End Web Developer with experience in <strong>Angular
          (versions 17, 18, and
          19)</strong>. In addition, I’ve taken the time to learn Back-End technologies to be able to
        build projects from scratch.
        I am currently studying remotely at the <strong>National Technological University (UTN)</strong>, where I am
        enrolled in a Full
        Stack Development program.
      </p>
      <div class="flex" style="margin: 24px 0; gap: 12px;">
        <div class="aditionalData">
          <i class="material-icons-round">cake</i>
          <span>23 Years</span>
        </div>
        -
        <div class="flex aditionalData">
          <i class="material-icons-round">location_on</i>
          <span>Buenos Aires, Argentina</span>
        </div>
      </div>
      <div class="center win">
        <app-contact-buttons />
      </div>
    </div>
  </div>
</div>
