<div class="flex flexCol mainContainer">
  <div class="mainContainerContent">
    <h2>About Me</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor excepturi ipsum aliquid aut delectus sit harum
      necessitatibus, beatae fugit exercitationem, veritatis molestias architecto placeat natus quisquam, ut repudiandae
      neque obcaecati.
    </p>
    <div class="flex flexCol linkedInProfile">
      <div class="linkedInBg" style="width: 300px; position: relative;">
        <img class="bannerImg"
          src="https://media.licdn.com/dms/image/v2/D4D16AQFblT4zdtZ8dQ/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1719963313973?e=1752105600&v=beta&t=RowXl1CtFWcYHuFvxpF4vMJCbdE5cQWt9hzFpiICEBs"
          alt="">
        <img class="profileImg"
          src="https://media.licdn.com/dms/image/v2/D4D03AQGV6ykKGsJ0fw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1719696245036?e=1752105600&v=beta&t=Exb9dvCT_usur5Ld-C8TnIBvMno5jEBm-NtXaqa2Jfo"
          alt="">
        <div class="p12">
          <h3>Franco Pertusati</h3>
          <span>Front-End Developer | Angular</span>
          <div class="flex">
            <button>
              <i class="material-icons-round">send</i>
              <span>Send Message</span>
            </button>
            <button class="rounded">
              <i class="material-icons-round">add</i>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ghProfile">

    </div>
  </div>
</div>
