.aboutContainer {
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr 1fr;
}

.studyList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.studysCard {
  padding: 12px;
  display: grid;
  gap: 12px;
  grid-template-columns: 80px auto;
  place-items: center;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.studysCard:hover {
  background-image: var(--gridBg);
  background-size: 100%;
  background-position: 0 0;
}

.studysCard span {
  font-weight: bold;
}

.studysCard i {
  border: solid 1px var(--bg2);
  padding: 12px;
  border-radius: 50px;
  background: linear-gradient(145deg, var(--bg), var(--bg1));
  font-size: 2.8rem;
}

.Line {
  height: calc(100% - 112px);
  position: absolute;
  border: solid 1px var(--bg2);
  top: 56px;
  left: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
