.mainContainerContent {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 86px;
  margin-bottom: 86px;
}

.p12 {
  padding: 12px;
}

.linkedInBg span,
.linkedInBg h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linkedInBg h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #181818;
}

h2 {
  font-size: 4rem;
  margin-bottom: 24px;
}

.linkedInBg span {
  font-size: 1.6rem;
  color: #363636;
}

.linkedInBg img:first-of-type {
  border-radius: 8px 8px 0 0;
  margin-bottom: 48px;
}

.linkedInBg .profileImg {
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 50%;
  border: solid 2px white;
}

.linkedInBg button {
  margin-top: 12px;
  padding: 6px 12px;
  background-color: #0a66c2;
  color: white;
  border-radius: 99px;
}

.linkedInBg button * {
  color: white;
  font-weight: bold;
}

.linkedInBg {
  position: relative;
  width: 424px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(140, 140, 140, 0.2) 0px 0px 0px 1px;
}

.linkedInBg .rounded {
  border: solid 1px #0a66c2;
  background-color: white;
}

.linkedInBg .rounded * {
  color: #0a66c2;
}

.ghBg {
  overflow: hidden;
  width: 100%;
  height: 246px;
  position: relative;
  background-color: #0d1117;
  border-radius: 8px;
}

.ghBg h3,
.ghBg span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

h3 {
  font-weight: bold;
  font-size: 1.8rem;
}

.ghBg i {
  color: gray;
}

.ghBg button {
  border: solid 1px #3c434d;
  padding: 4px;
  font-size: 1.4rem;
  color: grey;
}

.ghNav {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  padding: 6px;
  padding-bottom: 0;
  background-color: #010409;
  border-bottom: 1px solid #3d444d;
}

.navOptions {
  display: flex;
  gap: 6px;
}

.navOptions button {
  border-style: none;
}

.navOptions button * {
  font-size: 1.4rem;
}

.ghBg img {
  width: 86px;
  min-width: 86px;
  height: 86px;
  border-radius: 50%;
}

.ghBody  {
  display: flex;
  padding: 12px;
  width: 100%;
  height: 100%;
  gap: 12px;
}

.hgpr {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #3d444d;
  margin: 0 0 16px 12px;
}

.hgpr h3 {
  color: #4493f8;
  text-wrap-mode: nowrap;
}

.hgpr span {
  font-size: 1.4rem;
}

strong {
  background: linear-gradient(to right, var(--main), var(--murray));
  background-clip: text;
  color: transparent;
}

.aditionalData {
  display: flex;
  align-items: center;
  gap: 12px;
}

.aditionalData i {
  background: linear-gradient(to right, var(--main), var(--murray));
  background-clip: text;
  color: transparent;
}

.cta {
  border-radius: 8px;
}

