<div class="dialogContainer" (click)="closeDialog()">
  <div
    class="dialog bg cardShadow p24 flex flexCol gap12"
    (click)="$event.stopPropagation()"
  >
    <h3 class="textCenter">Contact Me</h3>
    <br />
    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="flex flexCol gap12"
    >
      <div class="flex flexCol gap8">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="John Doe"
          aria-label="Name"
        />
      </div>

      <div class="flex flexCol gap8">
        <label for="company">Company</label>
        <input
          id="company"
          type="text"
          formControlName="company"
          placeholder="Amazing Company"
          aria-label="Company"
        />
      </div>

      <div class="flex flexCol gap8">
        <label for="subject">Subject</label>
        <input
          id="subject"
          type="text"
          formControlName="subject"
          placeholder="Amazing Subject"
          aria-label="Subject"
        />
      </div>

      <div class="flex flexCol gap8">
        <label for="message">Message</label>
        <textarea
          id="text"
          formControlName="text"
          rows="4"
          aria-label="Message"
        ></textarea>
      </div>
      <br>
      <div class="flex justbt aligCenter">
        <button type="button" class="cardShadow" (click)="closeDialog()">
          <span>Cancel</span>
        </button>
        <button type="submit" class="primary" [disabled]="contactForm.invalid">
          <span>Send</span>
          <i class="material-icons-round">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
