<div class="flex flexCol gap6">
  <form
    [formGroup]="portfolioMessage"
    class="flex flexCol gap6 relative"
  >
    <h2 class="titleText textCenter">Contact Me</h2>
    <!-- NAME -->
    <div class="flex flexCol gap3">
      <div class="flex gap3 items-center">
        <label for="name">Name</label>
        @if (portfolioMessage.get('name')?.touched &&
        portfolioMessage.get('name')?.invalid) {
        <span class="errorText smallText">
          @if (portfolioMessage.get('name')?.errors?.['required']) { Name is
          required. } @if (portfolioMessage.get('name')?.errors?.['minlength'])
          { Minimum 3 characters. }
        </span>
        }
      </div>
      <input
        placeholder="John Doe"
        id="name"
        type="text"
        class="wFull card"
        formControlName="name"
      />
    </div>

    <!-- SUBJECT -->
    <div class="flex flexCol gap3">
      <div class="flex gap3 items-center">
        <label for="subject">Subject</label>
        @if (portfolioMessage.get('subject')?.touched &&
        portfolioMessage.get('subject')?.invalid) {
        <span class="errorText smallText">
          @if (portfolioMessage.get('subject')?.errors?.['required']) { Subject
          is required. }
        </span>
        }
      </div>
      <input
        placeholder="Amazing subject"
        id="subject"
        type="text"
        class="wFull card"
        formControlName="subject"
      />
    </div>

    <!-- MESSAGE -->
    <div class="flex flexCol gap3">
      <div class="flex gap3 items-center">
        <label for="message">Message</label>
        @if (portfolioMessage.get('text')?.touched &&
        portfolioMessage.get('text')?.invalid) {
        <span class="errorText smallText">
          @if (portfolioMessage.get('text')?.errors?.['required']) { Message is
          required. } @if (portfolioMessage.get('text')?.errors?.['minlength'])
          { Minimum 3 characters. }
        </span>
        }
      </div>
      <textarea
        placeholder="Leave a message"
        id="message"
        class="wFull card"
        formControlName="text"
        style="resize: none"
      ></textarea>
    </div>

    <!-- SUBMIT -->
    <button class="btn btn-form" type="submit">
      <span>Send Mail</span>
    </button>
    <div class="errorWrapper rounded6"></div>
  </form>
  <br>
  <div class="flex flexCol gap6">
    <span class="errorText">Service unavailable, please copy my email to contact</span>
    <app-button-copy [texToCopy]="'pertusatifranco100@gmail.com'" [label]="'pertusati***@gmail.com'" [extraCss]="'mAuto rounded6'" [style]="'filled'" />
  </div>
</div>
