<div class="flexCol wfull bg">
  <div class="wfull">
    <div class="titleRow">
      <span>Name</span>
      <span>Price</span>
      <span>State</span>
      <div></div>
      <app-button [showLabel]="false"
        [icon]="this.items.length === this.selectedItems.size? 'check_box' : 'check_box_outline_blank'"
        [style]="'noShadow'" (click)="toggleSelectAll()" />
    </div>
    @for (item of items; track $index) {
    <div class="itemRow" [ngClass]="isSelected(item.id)? 'selected' : ''">
      <span>{{ item.name | titlecase }}</span>
      <span>{{ item.email }}</span>
      <span class="badge bgGreen">Active</span>
      <app-button [showLabel]="false" [icon]="'more_vert'" [style]="'noShadow'" />
      <app-button [showLabel]="false" [icon]="isSelected(item.id) ? 'check_box' : 'check_box_outline_blank'"
        (click)="toggleUserSelection(item.id)" [style]="'noShadow'" />
    </div>
    }
  </div>
</div>
