<div class="blogContainer">
  <header class="topBar">
    <div class="layoutSize mAuto flex blogHeader">
      <div>
        <h1 class="titleText">
          {{ selectedProject?.title }}
        </h1>
        <span>{{ selectedProject?.description }}</span>
      </div>
    </div>
    <div class="topBarBg"></div>
  </header>
  <main class="blogContent mAuto layoutSize">
    <div class="bgDark">
      <img [src]="selectedProject?.img" alt="" class="wFull" />
      <p class="p6">
        {{ selectedProject?.text }}
      </p>
      <div class="flex justCenter gap6 p6">
        @if (selectedProject?.repo) {
        <a [href]="selectedProject?.repo" class="btn-border py3 px6">
          <span>Repository</span>
          <i class="material-symbols-rounded">open_in_new</i>
        </a>
        } @if (selectedProject?.prev) {
        <a [href]="selectedProject?.prev" class="btn-border py3 px6">
          <span>Preview</span>
          <i class="material-symbols-rounded">open_in_new</i>
        </a>
        }
      </div>
    </div>
    <div class="bgLight p3 flex flexCol gap3">
      @if (selectedProject?.repo || selectedProject?.prev) {
      <div class="card wFull flex flexCol gap3">
        @if (selectedProject?.prev) {
        <a [href]="selectedProject?.prev" class="wFull justBetween">
          <span>Live Preview</span>
          <i class="material-symbols-rounded">open_in_new</i>
        </a>
        } @if (selectedProject?.repo) {
        <a [href]="selectedProject?.repo" class="wFull justBetween">
          <span>Project Repository</span>
          <i class="material-symbols-rounded">open_in_new</i>
        </a>
        }
      </div>
      }
      <div class="card wFull flex flexCol gap3">
        <span>Tecnologies used in this project:</span>
        <div class="flex gap3 flexWrap">
          @for (t of selectedProject?.stackUsed; track $index) {
          <span class="tecnologie">{{ t }}</span>
          }
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</div>
