.blogContainer {
  padding-top: 64px;
}

.topBar {
  padding-top: 22px;
  height: 150px;
  border-bottom: 1px solid var(--border);
  padding-bottom: 8px;
}

.topBarBg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--gridBg);
  background-repeat: repeat;
  background-size: 850px;
  background-position: 50% top;
  mask-image: linear-gradient(0, #000 80%, #0000);
  z-index: -1;
}

.blogContent {
  width: 100%;
  border: solid 1px var(--border);
  border-top-style: none;
  display: grid;
  grid-template-columns: 1fr 320px;
}

h1 {
  font-size: 5rem;
}

.tecnologie {
  padding: 3px 6px;
  font-size: 1.4rem;
  border: solid 1px var(--border);
  border-radius: 12px;
}
