a {
  color: var(--font3);
}

.cta {
  display: flex;
  gap: 10px;
  background-color: #ffdfd7;
  box-shadow: 0 -3px 16px 0px #ffffff, 0 3px 16px 0px #ff532883;
  border: solid 1px var(--murray);
  transition: all ease .3s;
  border-radius: 99px;
}

.cta * {
  color: var(--murray);
}

.cta:hover {
  text-shadow: 0px 0px 4px #ff33008c;
  box-shadow: 0 -3px 16px 0px #ffffff, 0 3px 16px 0px #ff532883, 0px 0px 4px #ff5328c0;

}
