h3 {
  background: linear-gradient(to right, var(--main), var(--murray));
  background-clip: text;
  color: transparent;
}

.cardContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: auto 400px;
  height: 306px;
}

.projectData {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tecnologies {
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

span {
  background-color: var(--bg1);
  border-radius: 99px;
  padding: 6px 12px;
  font-size: 1.4rem;
  color: var(--font2);
}

p {
  font-size: 1.8rem;
}

.imgContainer {
  padding: 12px;
  height: 100%;
  width: 100%;
  background-color: var(--bg1);
  border-radius: 24px;
  overflow-y: hidden;
  position: relative;
}

img {
  height: 100%;
  width: 376px;
  border-radius: 12px;
}

.flex {
  transition: all ease .3s;
}

.gradient0 {
  background: var(--murray);
}

.gradient0:hover .flex {
  transform: translateY(-94px)
}

.gradient1 {
  background-color: var(--main);
}

.gradient1 .flex {
  flex-direction: row;
}

.gradient1 img {
  width: 50%;
  align-self: start;
}

.gradient2 {
  background: rgb(22, 103, 235);
}
