<div class="pageCont">
  <div class="center projectsNav">
    <button (click)="selectProject(-1)">
      <i class="material-icons-round">arrow_back</i>
    </button>
    <h1>{{ project.title }}</h1>
    <button (click)="selectProject(1)">
      <i class="material-icons-round">arrow_forward</i>
    </button>
  </div>

  <div>
    <h3>{{ project.subtitle }}</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, facilis cumque itaque cupiditate rem qui
      dignissimos, minus ea sed cum expedita porro deleniti dolor vero voluptates nobis officia consectetur illum!
    </p>
  </div>

  <div class="aContainer">
    <a class="accent" href="">
      <i class="material-icons-round">open_in_new</i>
      <span>Preview</span>
    </a>
    <a href="">
      <i class="material-icons-round">open_in_new</i>
      <span>Git-Hub</span>
    </a>
  </div>

  <div class="techList">
    <div class="catContainer">
      <h2>Front-End technologies</h2>
      @for (card of project.fTecs; track $index) {
      <div class="flex">
        <i class="material-icons-round">check</i>
        <span>{{ card }}</span>
      </div>
      }
    </div>
    <div class="catContainer flip">
      <h2>Front-End technologies</h2>
      @for (card of project.bTecs; track $index) {
      <div class="flex">
        <i class="material-icons-round">check</i>
        <span>{{ card }}</span>
      </div>
      }
    </div>
  </div>

  <div>
    <h2>Images</h2>
    <img [src]="project.thumbnail" alt="">
  </div>
</div>
