<div class="grid">
  <div class="cell winBg gs" style="grid-area: box-1;">

    <div class="tecs">
      <span class="badge">Angular 18</span>
      <span class="badge">ExpressJS</span>
      <span class="badge">NodeJs</span>
      <span class="badge">MongoDB</span>
    </div>

    <div class="description">
      <span><strong>Link Shortener</strong></span>
      <p>Un Acortador de links que fue mi primer proyecto full-stack</p>
    </div>
  </div>
  <div class="cell winBg ls" style="grid-area: box-2;">
    <div class="flex flexCol wFull" style="margin: 0 auto; gap: 18px;">
      <div class="marquee wFull">
        <div class="marquee-content">
          <div class="linkList">
            <div class="ogLink winBg">
              <small>https://bentogrids.com/shots/clsrxjo6a0003i9vljxgrywki</small>
            </div>
            <div class="ogLink winBg">
              <small>https://bentogrids.com/shots/clsrxjo6a0003i9vljxgrywki</small>
            </div>
            <div class="ogLink winBg">
              <small>https://bentogrids.com/shots/clsrxjo6a0003i9vljxgrywki</small>
            </div>
          </div>

          <div class="linkList" aria-hidden="true">
            <div class="ogLink winBg">
              <small>https://bentogrids.com/shots/clsrxjo6a0003i9vljxgrywki</small>
            </div>
            <div class="ogLink winBg">
              <small>https://bentogrids.com/shots/clsrxjo6a0003i9vljxgrywki</small>
            </div>
            <div class="ogLink winBg">
              <small>https://bentogrids.com/shots/clsrxjo6a0003i9vljxgrywki</small>
            </div>
          </div>
        </div>
      </div>

      <div class="winBg2 wFit linktun">
        <strong class="">Linktun</strong>
      </div>

      <div class="marquee wFull">
        <div class="marquee-content">
          <div class="linkList">
            <div class="winBg wFit flex">
              <img src="https://www.youtube.com/s/desktop/79b1043f/img/logos/favicon.ico" alt="">
              <small>linkTun/waSqw.com</small>
            </div>
            <div class="winBg wFit flex">
              <img src="https://www.youtube.com/s/desktop/79b1043f/img/logos/favicon.ico" alt="">
              <small>linkTun/waSqw.com</small>
            </div>
            <div class="winBg wFit flex">
              <img src="https://www.youtube.com/s/desktop/79b1043f/img/logos/favicon.ico" alt="">
              <small>linkTun/waSqw.com</small>
            </div>
          </div>

          <div class="linkList">
            <div class="winBg wFit flex">
              <img src="https://www.youtube.com/s/desktop/79b1043f/img/logos/favicon.ico" alt="">
              <small>linkTun/waSqw.com</small>
            </div>
            <div class="winBg wFit flex">
              <img src="https://www.youtube.com/s/desktop/79b1043f/img/logos/favicon.ico" alt="">
              <small>linkTun/waSqw.com</small>
            </div>
            <div class="winBg wFit flex">
              <img src="https://www.youtube.com/s/desktop/79b1043f/img/logos/favicon.ico" alt="">
              <small>linkTun/waSqw.com</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tecs">
      <span class="badge">Angular 18</span>
      <span class="badge">Tailwind</span>
      <span class="badge">ExpressJS</span>
      <span class="badge">NodeJs</span>
      <span class="badge">FireBase</span>
    </div>

    <div class="description">
      <span><strong>Link Shortener</strong></span>
      <p>Un Acortador de links que fue mi primer proyecto full-stack</p>
    </div>
  </div>
  <div class="cell winBg" style="grid-area: box-3;"></div>
  <div class="cell winBg" style="grid-area: box-4;"></div>
</div>
