.navContainer {
  z-index: 100;
  position: fixed;
  height: fit-content;
}

.mobileWrapper {
  display: none;
}

.closeBtn {
  display: none;
}

ul {
  align-items: center;
  transition: all ease .2s;
}

.outsideMobileButton {
  display: none;
}

@media(max-width: 544px) {
  .outsideMobileButton {
    display: flex;
  }

  .navContainer {
    left: 0;
    bottom: 0;
  }

  nav {
    transform: translateY(300px);
    width: 100%;
    background-color: var(--bg-dark);
    border-radius: 24px;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
    align-items: inherit;
  }

  nav ul button {
    width: 100%;
  }

  .navBarOpen {
    animation: slideUpBounce 0.45s ease-out forwards;
  }

  .toggleTheme {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }

  .mobileWrapper {
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--transparency);
  }

  .closeBtn {
    display: block;
  }

  .outsideMobileButton {
    margin-left: auto;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes slideUpBounce {
  0% {
    transform: translateY(300px);
  }

  60% {
    transform: translateY(-10px);
  }

  80% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.active-link {
  background-color: var(--bg1);
  outline: solid 1px var(--border);
}
