<div class="navContainer p6 wFull">
  @if (isOpen) {
  <div class="mobileWrapper" (click)="toggleState()"></div>
  }
  <nav
    class="p3 roundedFull wFit mAuto flex"
    [ngClass]="[isOpen ? 'navBarOpen' : '', isScrolled ? 'bgGlass' : '']"
  >
    <ul class="flex" [ngClass]="isScrolled ? 'gap2' : 'gap6'">
      <li>
        <a class="px6 py3" href="#contact" (click)="toggleState()" [ngClass]="(activeSection === 'contact') && !isOpen? 'bgDark border shadow primaryShadow' : ''">Contact</a>
      </li>
      <li>
        <a class="px6 py3" href="#projects" (click)="toggleState()" [ngClass]="(activeSection === 'projects') && !isOpen? 'bgDark border shadow primaryShadow' : ''">Projects</a>
      </li>
      <li>
        <a class="px6 py3" href="#about-me" (click)="toggleState()" [ngClass]="(activeSection === 'about-me') && !isOpen? 'bgDark border shadow primaryShadow' : ''">AboutMe</a>
      </li>
      <li>
        <button class="px6 py3 btn-filled" (click)="openDownloadOptions()">
          <span> Download CV </span>
        </button>
      </li>
      <li class="toggleTheme">
        <app-theme-toggle-btn />
        <div class="closeBtn">
          <app-button [icon]="'close'" (click)="toggleState()" />
        </div>
      </li>
    </ul>
  </nav>
  @if (!isOpen) {
  <button class="card outsideMobileButton" (click)="toggleState()">
    <i class="material-symbols-rounded">menu</i>
  </button>
  }
</div>
