<div class="sidebar hfull flex flexCol p12 gap12" [ngClass]="isClosed? 'isClosed' : 'isOpen'">
  <div class="flex aligncenter gap12">
    @if (toggleBtn) {
    <div style="height: 45px;">
      <app-button [icon]="'menu'" [showLabel]="false" (click)="isClosed = !isClosed" />
    </div>
    }
    @if (!isClosed) {
    <h2>{{ title }}</h2>
    }
  </div>
  <div class="hfull flex gap8 flexCol">
    @for (button of buttonList; track $index) {
    <app-button [style]="isRouteActive(button.routerLink)?  'primary wfull' : 'wfull'" [showLabel]="!isClosed"
      [label]="button.label" [showLabel]="!isClosed" [routerLink]="button.routerLink" [icon]="button.icon" />
    }
  </div>
  <app-theme-btn />
</div>
