.marqueeItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.marqueeItem svg {
  width: 26px;
  height: 26px;
}

.marqueeItem span {
  font-weight: bold;
}

.marqueeSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-3);
}
