<div class="flex flexCol gap6">
  <h2 class="titleText textCenter">My Social</h2>
  <div class="flex justBetween">
    <a href="">
      <span>LinkedIn</span>
    </a>
    <app-button-copy [texToCopy]="'dawf'" />
  </div>
  <div class="flex justBetween">
    <a href="">
      <span>Git-Hub</span>
    </a>
    <app-button-copy [texToCopy]="'dawf'" />
  </div>
  <div class="flex justBetween">
    <a href="">
      <span>pertusati***&#64;gmail.com</span>
    </a>
    <app-button-copy [texToCopy]="'dawf'" />
  </div>
</div>
