<div class="flex flexCol gap6">
  <h2 class="titleText textCenter">My Social</h2>
  <div class="flex justBetween">
    <a href="https://www.linkedin.com/in/franco-pertusati-571308316/" target="_blank">
      <span>LinkedIn</span>
    </a>
    <app-button-copy [texToCopy]="'https://www.linkedin.com/in/franco-pertusati-571308316/'" />
  </div>
  <div class="flex justBetween">
    <a href="https://github.com/Franco-Pertusati" target="_blank">
      <span>Git-Hub</span>
    </a>
    <app-button-copy [texToCopy]="'https://github.com/Franco-Pertusati'" />
  </div>
  <div class="flex justBetween">
    <span>pertusati***&#64;gmail.com</span>
    <app-button-copy [texToCopy]="'pertusatifranco100@gmail.com'" />
  </div>
</div>
