.projectsNavbar button {
  padding: inherit 16px;
  transition: all ease .2s;
  border-radius: 99px;
  position: relative;
  z-index: 20;
}

.selected {
  background-color: var(--font);
  position: relative;
}

.selected span {
  color: var(--bg2);
}

.selected:hover::before {
  content: '';
  height: 12px;
  width: 4px;
  border-radius: 24px;
  position: absolute;
  left: 8px;
  bottom: calc(50% - 6px);
}

.selected i {
  color: var(--bg2);
}

h2 {
  margin: 32px 0;
  margin-top: 128px;
  font-weight: normal;
}

.projectsContainer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 118px;
}

.projectsNavbar {
  padding: 6px;
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 6px;
  border-radius: 32px;
  overflow: hidden;
  margin: 0 auto;
  z-index: 30;
}

.projectsNavbar i {
  display: none;
}

.projectContent {
  margin: 32px 0;
  width: 100%;
  height: 530px;
  background-size: cover;
  position: relative;
  background: linear-gradient(45deg, var(--main) 0%, var(--murray) 100%);
  overflow: hidden;
}

.projectBar {
  width: fit-content;
  display: flex;
  gap: 12px;
  flex-direction: column;
  position: absolute;
  left: 12px;
  top: calc(50% - 54px);
}

.projectBar button {
  padding: 12px;
  border-radius: 99px;
  width: 48px;
  transition: all ease .3s;
  overflow: hidden;
  z-index: 30;
}

.projectBar button:hover {
  width: 158px;
}

.projectBar button i {
  font-size: 2.4rem;
}

.projectBar button span {
  position: absolute;
  left: 46px;
  transition: all ease .4s;
  opacity: 0;
}

.projectBar button:hover span {
  opacity: 100%;
}

.carrousel {
  padding: 24px;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  height: 100%;
}

.imgPointsList {
  display: flex;
  gap: 12px;
}

.imgPointsList button {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--bg2);
}

.imgPointsList .selected {
  outline: solid 2px var(--font);
}

.description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--transparent);
  backdrop-filter: blur(8px);
  z-index: 1;
}

h3 {
  font-weight: normal;
}

.winBg {
  max-width: 320px;
  z-index: 2;
  background-color: transparent;
}

.winBg p,
.winBg h3 {
  text-shadow: 0px 0px 4px var(--bg2);
}

@media (min-width: 600px) {
  .projectsNavbar {
    gap: 12px;
  }

  .projectsNavbar i {
    display: block;
  }
}

@media (min-width: 1000px) {
  .projectContent {
    border-radius: 32px;
  }
}
