.projectsContainer {
  margin: 42px 0;
}

h2 {
  margin: 18px 0;
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 56px;
}

@media(max-width: 900px) {
  .projectsContainer {
    padding: 0 12px;
  }
}
