<div class="contactContainer wFull flex flexCol gap6 justCenter itemsCenter relative">
  <div class="layoutSize hFull flex flexCol justEvenly">
    <div class="p6 flex flexCol justCenter">
      <span class="name">Franco Pertusati</span>
      <h1 class="titleText">
        <strong class="titleText primaryText">Full-stack</strong> developer
      </h1>
      <span class="mutedText">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, officiis
        laboriosam, ipsam aliquid mollitia hic adipisci odio repellat natus
        reiciendis fuga optio eius ducimus quae commodi voluptatibus blanditiis
        quia non.
      </span>
    </div>
    <div class="flex gap6 px6">
      <app-button [icon]="'send'" [label]="'Contact'" [style]="'cta'" />
      <app-button [icon]="'open_in_new'" [label]="'LinkedIn'" [style]="'border'" />
      <app-button [icon]="'open_in_new'" [label]="'GitHub'" [style]="'border'" />
    </div>
  </div>
  <div class="headerBg"></div>
</div>
