.contactContainer {
  height: 300px;
  border-bottom: 1px solid var(--border);
  padding-bottom: 8px;
}

.headerBg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--gridBg);
  background-repeat: repeat;
  background-size: 850px;
  background-position: 50% top;
  mask-image: linear-gradient(0, #000 50%, #0000);
  z-index: -1;
}

.titleText {
  font-size: 6rem;
  font-weight: normal;
}

.name {
  font-size: 4rem;
}

.mutedText {
  max-width: 800px;
}
