<header
  class="contactContainer wFull flex flexCol gap6 justEvenly hFull itemsCenter relative"
>
  <div class="layoutSize hFull flex flexCol justEvenly">
    <div class="flex flexCol justCenter itemsCenter">
      <div class="textCenter">
        <span class="name">Franco Pertusati</span>
        <h1 class="titleText">
          <strong class="titleText">Full-stack</strong> developer
        </h1>
      </div>
    </div>
    <div class="flex gap6 justCenter">
      <button class="btn-cta px6 py3" (click)="openDialog()">
        <span>Contact</span>
        <i class="material-symbols-rounded">send</i>
      </button>
      <app-button
        (click)="openSocial()"
        [icon]="'link'"
        [label]="'Social'"
        [style]="'border'"
      />
    </div>
  </div>
  <div class="headerBg"></div>
</header>
