<header
  class="contactContainer wFull flex flexCol gap6 justEvenly hFull itemsCenter relative"
>
  <div class="layoutSize hFull flex flexCol justEvenly">
    <div class="flex flexCol justCenter itemsCenter">
      <span class="name">Franco Pertusati</span>
      <h1 class="titleText">
        <strong class="titleText primaryText">Full-stack</strong> developer
      </h1>
    </div>
    <div class="flex gap6 justCenter">
      <app-button [icon]="'send'" [label]="'Contact'" [style]="'cta'" />
      <app-button
        [icon]="'open_in_new'"
        [label]="'LinkedIn'"
        [style]="'border'"
      />
      <app-button
        [icon]="'open_in_new'"
        [label]="'GitHub'"
        [style]="'border'"
      />
    </div>
  </div>
  <div class="headerBg"></div>
</header>
