<div>
  <div>
    <h2>About Me</h2>
    <p class="p24">
      My name is <strong class="rainbowTxt">Franco Pertusati</strong>. I am a
      Front-End Web Developer with experience in
      <strong class="rainbowTxt">Angular (versions 17, 18, and 19)</strong>. In
      addition, I’ve taken the time to learn Back-End technologies to be able to
      build projects from scratch. I am currently studying remotely at the
      <strong class="rainbowTxt">National Technological University (UTN)</strong
      >, where I am enrolled in a Full Stack Development program. I have also
      completed multiple development courses on
      <strong class="rainbowTxt">Platzi</strong>, further expanding my skills in
      both Front-End and Back-End technologies.
    </p>
    <div class="flex gap12 center wfit" style="margin-bottom: 56px">
      <a
        class="ghost justcenter wfit"
        href="CV/Franco Pertusati - Resume - EN.pdf"
        target="_blank"
      >
        <i class="material-icons-round">download</i>
        <span>Download CV</span>
      </a>
      <app-contact-btn />
    </div>
  </div>
  <h2>Certifieds</h2>
  <div class="flex gap12 justeve" style="flex-wrap: wrap">
    <div class="wfit flex flexCol gap8">
      <span style="color: var(--font2)">Advanced Angular v19</span>
      <div class="certified">
        <img src="certifieds/c1.png" alt="" />
      </div>
    </div>
    <div class="wfit flex flexCol gap8">
      <span style="color: var(--font2)">Express.Js</span>
      <div class="certified">
        <img src="certifieds/c2.png" alt="" />
      </div>
    </div>
  </div>
  <div class="bottomPage flex wrap gap12 p24"></div>
</div>
