<div>
  <div class="borderLeft">
    <h2>About Me</h2>
    <p class="p24">
      My name is <strong class="rainbowTxt">Franco Pertusati</strong>. I am a Front-End Web Developer with experience in
      <strong class="rainbowTxt">Angular
        (versions 17, 18, and
        19)</strong>. In addition, I’ve taken the time to learn Back-End technologies to be able to
      build projects from scratch.
      I am currently studying remotely at the <strong class="rainbowTxt">National Technological University
        (UTN)</strong>,
      where I am
      enrolled in a Full
      Stack Development program.
    </p>
  </div>
  <div class="resumenData borderLeft">
    <div class="dataItem flex gap12">
      <i class="material-icons-round">location_on</i>
      <span>Buenos Aires, Argentina</span>
    </div>
    <div class="dataItem flex gap12 middle">
      <i class="material-icons-round">school</i>
      <span>National Technological University (UTN)</span>
    </div>
    <div class="dataItem flex gap12">
      <i class="material-icons-round">cake</i>
      <span>23 Years</span>
    </div>
  </div>
  <div class="flex flexCol wfit center gap24 p24" style="padding: 56px 24px;">
    <div class="flex gap12 justbt">
      <a class="wfit ghost">
        <i class="material-icons-round">open_in_new</i>
        <span>LinkedIn</span>
      </a>
      <a class="wfit ghost">
        <i class="material-icons-round">open_in_new</i>
        <span>GitHub</span>
      </a>
    </div>
    <div class="flex gap12">
      <span>pertu*********&#64;gmail.com</span>
      <app-coppy-text />
    </div>
  </div>
  <div class="bottomPage">
  </div>
</div>
