.navContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 64px;
  margin-top: 12px;
  z-index: 100;
}

.mobileNav {
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  border-radius: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: fixed;
}

.mobileNav nav {
  padding: 12px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: calc(100% - 24px);
  border-radius: 28px;
  gap: 8px;
  transform: translateY(400px);
}

.navContainer .showNav {
  opacity: 1;
  pointer-events: auto;
}

.showNav nav {
  animation: slideUpBounce 0.45s ease-out forwards;
}

hr {
  color: var(--border);
}

.desktopNav {
  width: 100vw;
  position: fixed;
  top: 12px;
}

.desktopNav nav {
  margin: 0 auto;
  padding: 8px;
  width: calc(100% - 24px);
  max-width: 620px;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 99px;
  transition: all ease .3s;
}

.desktopNav nav hr {
  display: none;
}

.desktopNav .scrolled {
  gap: 8px;
  width: 530px;
}

/* Animación con efecto rebote */
@keyframes slideUpBounce {
  0% {
    transform: translateY(300px);
  }

  60% {
    transform: translateY(-10px);
  }

  80% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.active-link {
  background-color: var(--bg1);
  outline: solid 1px var(--border);
}
