<div class="navContainer">
  @if (mobileNav && isNavbarClosed) {
  <div class="flex gap12 bg cardShadow p8 m12"  style="position: fixed; bottom: 12px; right: 12px; z-index: 100;">
    <app-theme-btn />
    <button (click)="openMobileNav()"
      class="justIcon rounded">
      <i class="material-icons-round">menu</i>
    </button>
  </div>
  }

  <div [ngClass]="[isNavbarClosed? '' : 'showNav', mobileNav? 'mobileNav bgGlass' : 'desktopNav']"
    (click)="closeMobileNav()">
    <nav class="p8 flex gap8 flexCol"
      [ngClass]="[mobileNav? 'bg cardShadow' : '', isScrolled && !mobileNav? 'scrolled bgGlass' : '']"
      (click)="$event.stopPropagation()">
      <div class="flex gap12 justbt" [ngClass]="[mobileNav ? 'wfull' : 'wfit']">
        <label for="">
          <a href="#presentation"
            [ngClass]="[mobileNav ? 'wfull' : 'wfit', !mobileNav && activeSection === 'presentation' ? 'active-link' : '']">
            @if (mobileNav) {
            <i class="material-icons-round">arrow_forward</i>
            }
            <span>Contact</span>
          </a>
        </label>
        @if (mobileNav) {
        <div class="flex gap12">
          <app-button [label]="''" [icon]="'close'" [style]="'ghost'" (click)="closeMobileNav()" />
        </div>
        }
      </div>
      <a href="#projects"
        [ngClass]="[mobileNav ? 'wfull' : 'wfit', !mobileNav && activeSection === 'projects' ? 'active-link' : '']">
        @if (mobileNav) {
        <i class="material-icons-round">arrow_forward</i>
        }
        <span>Projects</span>
      </a>
      <a href="#about-me"
        [ngClass]="[mobileNav ? 'wfull' : 'wfit', !mobileNav && activeSection === 'about-me' ? 'active-link' : '']">
        @if (mobileNav) {
        <i class="material-icons-round">arrow_forward</i>
        }
        <span>About Me</span>
      </a>
      @if (mobileNav) {
      <a [ngClass]="mobileNav? 'wfull' : 'wfit'">
        @if (mobileNav) {
        <i class="material-icons-round">open_in_new</i>
        }
        <span>LinkedIn</span>
      </a>
      }
      @if (mobileNav) {
      <a [ngClass]="mobileNav? 'wfull' : 'wfit'">
        @if (mobileNav) {
        <i class="material-icons-round">open_in_new</i>
        }
        <span>Git-hub</span>
      </a>
      }
      <button class="accent justcenter">
        <span>Download CV</span>
      </button>
      @if (!mobileNav) {
      <app-theme-btn />
      }
    </nav>
  </div>
</div>
