.presentationCardContainer {
  margin-top: 42px;
  padding-top: 12px;
  width: 100vw;
  height: 230px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;

  position: relative;
}

.magicpattern {
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: var(--gridBg);
  background-repeat: repeat;
  background-size: 870px;
  background-position: 50% top;
  overflow: visible;
  z-index: -1;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
}

.myName {
  margin-top: 12px;
  font-size: 2rem;
  color: var(--font2);
}

h1,
strong {
  font-size: 3.4rem;
  font-weight: normal;
}

.nameRole {
  grid-row: 4 span;
  line-height: 1;
  height: 102px;
  justify-content: space-between;
}

a svg {
  fill: var(--font2);
}

a:hover svg {
  fill: var(--font);
}

.rainbowTxt {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  background-clip: text;
  color: transparent;
}

@media(min-width: 600px) {
  .presentationCardContainer {
    height: 320px;
  }

  .myName {
    font-size: 3rem;
  }

  h1,
  strong {
    font-size: 5rem;
    font-weight: normal;
  }
}
