<div class="navContainer">
  <nav [ngClass]="isScrolled? 'scrolled' : ''">
    <button class="hamMenu" (click)="toggleNav()">
      <i class="material-icons-round">menu</i>
    </button>
    <ul [ngClass]="isNavbarClosed? '' : 'show'">
      <div style="position: relative;">
        <button>
          <span>Social</span>
        </button>
      </div>
      <hr>
      <a href="">
        <span>Projects</span>
      </a>
      <hr>
      <a href="">
        <span>About Me</span>
      </a>
      <hr>
      <app-theme-btn />
    </ul>
  </nav>
</div>
