.projectTitle {
  color: var(--font2);
}

img {
  width: 100%;
  border-radius: 12px;
}

a {
  justify-content: center;
}

.projectTitle {
  font-weight: bold;
}

img,
a {
  border-radius: 8px;
}


@media(min-width: 600px) {
  .card {
    width: 480px;
  }
}


@media(min-width: 900px) {
  .card {
    max-width: 398px;
  }
}
