<div class="card flex flexCol gap12 wfull">
  <h3>{{ title | titlecase }}</h3>

  <div class="flex flexWrap gap12" >
    @for (item of tecs; track $index) {
      <span class="rainbowTxt">#{{item}}</span>
    }
  </div>
  <div class="imgContainer bg bg2">
    <img [src]="img" alt="">
    <div class="flex gap12 btnContainer">
      <a [href]="repo" target="_blank" class="ghost">
        <span>Code</span>
        <i class="material-icons-round">code</i>
      </a>
      <a [href]="preview" target="_blank" class="ghost">
        <span>Preview</span>
        <i class="material-icons-round">preview</i>
      </a>
    </div>
  </div>
</div>
