img {
  border-radius: 12px 12px 0 0;
}

.flexWrap .rainbowTxt {
  font-size: 1.2rem;
}

h3 {
  font-size: 2.4rem;
}

.desktopBtns {
  width: 100%;
  height: calc(100% - 7px);
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--transparent);
  border-radius: 12px;
  backdrop-filter: blur(4px);
  opacity: 0;
  transition: all ease .3s;
  display: none;
}

.desktopBtns a {
  transition: all ease .3s;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0);
}

.desktopBtns:hover a {
  transform: scale(1);
}

.desktopBtns:hover {
  opacity: 1;
}

@media (min-width: 600px) {}

@media (min-width: 720px) {}

@media (min-width: 900px) {
  .mobileBtns {
    display: none;
  }

  .desktopBtns {
    display: flex;
  }

  .flexWrap .rainbowTxt {
    font-size: 1.4rem;
  }

  .cardShadow {
    padding: 12px;
  }

  img {
    border-radius: 12px;
  }

  .dataContainer {
    padding: 0;
  }
}
