<div
  class="mAuto overflowHidden flex flexCol gap3 my3"
  style="padding-top: 32px"
>
  <button class="mAuto p3" (click)="openDialog()">
    <span class="boldText">My tecnological stack</span>
    <i class="material-symbols-rounded">help</i>
  </button>
  <div class="marquee">
    <app-marquee-section />
    <app-marquee-section />
  </div>
  <div class="flex gap3 my3 mAuto itemsCenter">
    <a href="#certificates" class="boldText">
      Certificates
      <i class="material-symbols-rounded"> arrow_downward_alt </i>
    </a>
  </div>
</div>
