<div class="wfull projectsList">
  <h2 class="wfull textCenter">Main Projects</h2>
  <ul class="wfull flex flexCol p24" style="gap: 98px">
    @for (p of projects; track $index) {
    <app-project-card [project]="p" />
    }
  </ul>
  <br />
  <div>
    <h2 class="wfull textCenter apiCard">APIs Projects</h2>
    <ul class="p24 gap24 flex flexCol">
      @for (api of apiProjects; track $index) {
      <div class="cardShadow bg wfit center p12 flex flexCol gap12">
        <div class="flex wfull aligncenter justbt">
          <h3>{{ api.title }}</h3>
          @if (api.repo) {
          <a [href]="api.repo" target="_blank" class="wfit">
            <span class="mainColorTxt">Code</span>
            <i class="material-icons-round mainColorTxt">code</i>
          </a>
          }
        </div>
        <p style="color: var(--font2)">{{ api.description }}</p>
        <div class="flex gap12">
          @for (item of api.tecs; track $index) {
          <span class="rainbowTxt" style="font-size: 1.4rem;">#{{ item }}</span>
          }
        </div>
      </div>
      }
    </ul>
  </div>
</div>
