.light {
  --bg: #F8F9FA;
  --bg1: #E4E7EA;
  --bg2: #D0D4D7;

  --font: #1a1a1a;
  --font2: #272727;
  --font3: #585858;

  --main: #ff5328;
  --murray: #ff4d74;

  --transparent: hsla(210, 17%, 98%, 0.3);

  --blue: #2bc0ff;
  --red: #ff302c;
  --green: #80e73b;

  --gridBg: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23e9ecef%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23dee2e6%22 stroke-width=%222%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h200v200H0zM200 0h200v200H200zM400 0h200v200H400zM600 0h200v200H600zM800 0h200v200H800zM1000 0h200v200h-200zM1200 0h200v200h-200zM1400 0h200v200h-200zM1600 0h200v200h-200zM1800 0h200v200h-200zM0 200h200v200H0zM200 200h200v200H200zM400 200h200v200H400zM600 200h200v200H600zM800 200h200v200H800zM1000 200h200v200h-200zM1200 200h200v200h-200zM1400 200h200v200h-200zM1600 200h200v200h-200zM1800 200h200v200h-200zM0 400h200v200H0zM200 400h200v200H200zM400 400h200v200H400zM600 400h200v200H600zM800 400h200v200H800zM1000 400h200v200h-200zM1200 400h200v200h-200zM1400 400h200v200h-200zM1600 400h200v200h-200zM1800 400h200v200h-200zM0 600h200v200H0zM200 600h200v200H200zM400 600h200v200H400zM600 600h200v200H600zM800 600h200v200H800zM1000 600h200v200h-200zM1200 600h200v200h-200zM1400 600h200v200h-200zM1600 600h200v200h-200zM1800 600h200v200h-200zM0 800h200v200H0zM200 800h200v200H200zM400 800h200v200H400zM600 800h200v200H600zM800 800h200v200H800zM1000 800h200v200h-200zM1200 800h200v200h-200zM1400 800h200v200h-200zM1600 800h200v200h-200zM1800 800h200v200h-200zM0 1000h200v200H0zM200 1000h200v200H200zM400 1000h200v200H400zM600 1000h200v200H600zM800 1000h200v200H800zM1000 1000h200v200h-200zM1200 1000h200v200h-200zM1400 1000h200v200h-200zM1600 1000h200v200h-200zM1800 1000h200v200h-200zM0 1200h200v200H0zM200 1200h200v200H200zM400 1200h200v200H400zM600 1200h200v200H600zM800 1200h200v200H800zM1000 1200h200v200h-200zM1200 1200h200v200h-200zM1400 1200h200v200h-200zM1600 1200h200v200h-200zM1800 1200h200v200h-200z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

:root .dark {
  --bg: #292929;
  --bg1: #222121;
  --bg2: #1a1919;

  --font: #f8f9fa;
  --font2: #cbcfd3;
  --font3: #aaa9a9;

  --main: #ff5328;
  --murray: #ff4d74;

  --transparent: hsla(0, 0%, 15%, 0.3);

  --blue: #2bc0ff;
  --red: #ff302c;
  --green: #80e73b;

  --gridBg: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%231a1919%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23222121%22 stroke-width=%222%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h200v200H0zM200 0h200v200H200zM400 0h200v200H400zM600 0h200v200H600zM800 0h200v200H800zM1000 0h200v200h-200zM1200 0h200v200h-200zM1400 0h200v200h-200zM1600 0h200v200h-200zM1800 0h200v200h-200zM0 200h200v200H0zM200 200h200v200H200zM400 200h200v200H400zM600 200h200v200H600zM800 200h200v200H800zM1000 200h200v200h-200zM1200 200h200v200h-200zM1400 200h200v200h-200zM1600 200h200v200h-200zM1800 200h200v200h-200zM0 400h200v200H0zM200 400h200v200H200zM400 400h200v200H400zM600 400h200v200H600zM800 400h200v200H800zM1000 400h200v200h-200zM1200 400h200v200h-200zM1400 400h200v200h-200zM1600 400h200v200h-200zM1800 400h200v200h-200zM0 600h200v200H0zM200 600h200v200H200zM400 600h200v200H400zM600 600h200v200H600zM800 600h200v200H800zM1000 600h200v200h-200zM1200 600h200v200h-200zM1400 600h200v200h-200zM1600 600h200v200h-200zM1800 600h200v200h-200zM0 800h200v200H0zM200 800h200v200H200zM400 800h200v200H400zM600 800h200v200H600zM800 800h200v200H800zM1000 800h200v200h-200zM1200 800h200v200h-200zM1400 800h200v200h-200zM1600 800h200v200h-200zM1800 800h200v200h-200zM0 1000h200v200H0zM200 1000h200v200H200zM400 1000h200v200H400zM600 1000h200v200H600zM800 1000h200v200H800zM1000 1000h200v200h-200zM1200 1000h200v200h-200zM1400 1000h200v200h-200zM1600 1000h200v200h-200zM1800 1000h200v200h-200zM0 1200h200v200H0zM200 1200h200v200H200zM400 1200h200v200H400zM600 1200h200v200H600zM800 1200h200v200H800zM1000 1200h200v200h-200zM1200 1200h200v200h-200zM1400 1200h200v200h-200zM1600 1200h200v200h-200zM1800 1200h200v200h-200z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--font);
  font-size: 62.5%;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

body * {
  font-size: 2rem;
}

.gap8 {
  gap: 8px;
}

.pageContainer {
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.winCol {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.win {
  width: 100%;
  display: flex;
  gap: 12px;
}

.winBg {
  padding: 8px;
  background-color: var(--bg);
  border-radius: 8px;
  border: solid 1px var(--bg2);
  box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 12px 24px 0px
}

.wsm {
  width: 320px;
}

.wmd {
  width: 408px;
}

.wlg {
  width: 660px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.2) 0px 12px 32px 0px
}

.center {
  width: fit-content;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.flexCol {
  flex-direction: column;
}

.jcBtw {
  justify-content: space-between;
}

.gap6 {
  gap: 6px;
}

.pageTitle {
  margin: 32px 0;
}

h1,
h2,
h3,
h5,
h6 {
  font-size: 3rem;
  font-weight: normal;
}

h4 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.mAuto {
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

img {
  border-style: none;
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

span,
p,
label {
  font-size: 1.8rem;
}

label {
  font-size: 1.5rem;
}

small {
  font-size: 1.4rem;
}

button,
input,
select,
textarea {
  font: inherit;
  font-size: 1.8rem;
  border-style: none;
  text-decoration: none;
}

.input:focus {
  outline: none;
}

button,
a,
label {
  padding: 6px 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

button span,
a span {
  font-size: 1.5rem;
}

button:hover,
a:hover {
  background-color: var(--bg1);
}

.wFit {
  width: fit-content;
}

.wFull {
  width: 100%;
}

.hFull {
  height: 100%;
}

.p18 {
  padding: 18px;
}

input {
  background-color: transparent;
}

input:focus {
  outline: none;
}

.material-icons-round {
  font-size: 2rem;
}

.aItems {
  align-items: center;
}

.rounded {
  border-radius: 99px;
}

.outline {
  border: solid 1px var(--font);
}

.active {
  background-color: var(--bg2);
}

.active:hover {
  background-color: var(--bg2);
}

.accent {
  background-color: var(--font);
}

.accent:hover {
  background-color: var(--font2);
}

.accent span,
.accent i {
  color: var(--bg);
}

.softTxt {
  color: var(--font2);
}

.mAutoY {
  margin: auto 0;
}

hr {
  border-style: none;
  border-bottom: solid 1px var(--font3);
  mask-image: linear-gradient(90deg, rgba(34, 193, 195, 0) 0%, rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 0) 100%);
}

.mat-mdc-dialog-surface {
  padding: 12px !important;
  background-color: var(--bg) !important;
  border-radius: 12px !important;
}

.onlySvg {
  padding: 6px;
}

html {
  scroll-behavior: smooth;
}

.border {
  border: solid 1px var(--bg2);
}

@media (min-width: 600px) {

  span,
  i,
  label {
    font-size: 2rem;
  }

  button span,
  a span,
  button i,
  a i {
    font-size: 2rem;
  }

  .onlySvg svg {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 900px) {
  .pageCont {
    padding: 0;
  }
}
