<div class="layoutSize card mAuto p0">
  <div class="flex justBetween itemsCenter topBar p6">
    <div class="flex gap6 itemsCenter">
      <h2 class="titleText">Projects</h2>
      <span class="mutedText">Some of my latest projects.</span>
    </div>
    <div class="flex center gap6">
      <app-button [icon]="'check_box_outline_blank'" [label]="'Full-stack'" />
      <app-button [icon]="'check_box_outline_blank'" [label]="'API'" />
      <app-button [icon]="'check_box_outline_blank'" [label]="'Front-end'" />
    </div>
  </div>
  <div class="projectsList">
    @for (p of projects; track $index) {
    <app-porject-card [project]="p" />
    }
  </div>
</div>
